@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@100;200;300&family=Nunito+Sans:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    height: 100vh;
    margin:0;
    font-family: "montserrat";
    color:white;
    background-color: #141616;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

img{
    width:100%;
    max-width: 756px;
    max-height: 472px;
}

.nav-container {
    a{
        color:white;
    }
    
}

header {
    display:flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;

    .logo{
        img{
            height:6em;
            width: 9em;
            margin-top:-1.3em;
            margin-left:-2em;
            
        }
    }

    nav {
        ul {
            display:flex;
        }

        a{
            display:block;
            padding:1em .5em;
        }
    }
}

.main{
    display:grid;
    text-align:center;
    padding:4em;
    padding-bottom: 6em;

    h1{
        font-size: 3em;
        font-family: "nunito sans";
        #first-name{
            font-size: .5em;
        }
    }

    .job-title{
        margin: 0 auto;
        text-align: center;
        margin-top: -2.5em;        
        color: #75e6da;
    }

    .blinker {
        height: 20px;
        margin-bottom: -4px;
        width: 2px;
        background: black;
        opacity: 0;
        display: inline-block;
        animation: blink 1s linear infinite alternate;
      }
      
      @keyframes blink {
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}


section{
    padding: 4em 2em;
    text-align:center;
    
    .hello-world{
        color: #75e6da;
        font-family: "nunito sans";
        font-weight: bold;
        font-size: 2em;
        letter-spacing: .2em;
        
    }
}

.about-me{
    //background-color: #1d1e20;

    img{
        max-width: 476px;
        max-height: 476px;
    }
    
}
.featured-desc
{
    margin-bottom: 3em;
    font-size: .85em;
    line-height:1.7em;
    
}


//.skills{
//    background-color: #1d1e20;
//}

.skills-container ul li{
    background: rgb(50, 51, 53);
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .skill-title{
        font-weight:bold;
        font-family: "nunito sans";
        font-size: 1.3em;
    }

    .icon-container-1, .icon-container-2, .icon-container-3 {
        height:100px;
        display: block;
        margin:2em auto;
    
        &.one
        {
            width: 100px;
        }
            
    
        &.two
        {
            width: 100px;
        }
    
        &.three
        {
            width: 100px;
        }
    
        &.four
        {
            width: 100px;
        }
    }

     .icon-container-2{
        height:170px;
        display: block;
        margin: 0 auto;
    
        &.one
        {
            width: 170px;
        }
            
    
        &.two
        {
            margin-top: -1em;
            width: 170px;
        }
    
        &.three
        {
            margin-top: -4em;
            width: 170px;
        }

    }

}

.portfolio-container img
{
    border-radius:1em;
    margin-bottom:5em;
    margin-top: -1em;

}

.fworks
    {
        color: #75e6da;
        font-family: "nunito sans";
        font-weight: bold;
        font-size: 2em;
        letter-spacing: .2em;
        
    }

.portfolio-container
{
    

    .subtitle 
    {
        font-family: "comfortaa";
        font-size: .9em;
        margin-bottom: -1em;
    }

    .featured-title
    {
        font-family: "nunito sans";
        font-size: 1.5em;
        margin-bottom: -.2em;
      
    }

    .featured-desc
    {
        
        font-size: .9em;
        margin-bottom: -.2em;
      
    }

    .featured-skills
    {
        font-family: "comfortaa";
        font-size: .7em;
        color: #87b0e2;
      
    }
    
}

footer
{
    background-color: #2a2d32 ;
    text-align: center;

    .inner{
        .contact-information{
            padding-top: 1em;
            font-size: 2em;
            font-family: "nunito sans";
            letter-spacing: .1em;
            color: #75e6da;

            
        }

        span{
            font-weight: bold;
        }
    }

    
    .footer-right{
        display: flex;
        justify-content: center;
        img{
            height: 50px;
        }

}
}


@media only screen and (min-width: 800px){
    .about-me, .portfolio{
        text-align:left;
    }

    .about-me, .portfolio-container{
        display:grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left{
        display:grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top:1em;
    }

    .skills{
        margin-top:-6em;
       
        
    }
    
    .skills-container{
        margin-left: 6em;
        margin-right: 6em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap:1em;

    }

    .portfolio{
        margin-top: -3em;
    }
    
}

@media only screen and (min-width:1050px){
    .main{
        height:90vh;
    }

    .nav-container{
        display: grid;
       
    }
    header{
        li{
            padding-right: 4em;
        }
    }

    section {
        padding: 4em;
    }

    .content{
        padding-top: 2em;

        h1{
            font-size: 9em;
            margin-bottom: -.1em;
        }
        
        .job-title{
            font-size: 2em;
            padding-left: 14.5em;
            padding-top: 1em;
            
        }
    }

    .about-me{
        padding-left: 9em;
    }

    .fworks
    {
        color: #75e6da;
        font-family: "nunito sans";
        font-weight: bold;
        font-size: 2.4em;
        letter-spacing: .2em;
        
    }


}

@media only screen and (min-width: 1250px){
    header{
        a{
            padding-left: 2em;
        }
    }

    .content{
        padding-top: 2em;

        h1{
            font-size: 12em;
            margin-bottom: -.1em;
        }
        
        .job-title{
            font-size: 3em;
            padding-left: 12em;
            padding-top: 1em;
            
        }

        
    }

    .about-me{
        padding-left: 14em;

        .hello-world{
            font-size: 3em;
           
        }

         .featured-desc{
             font-size:1.2em;
         }
    }

    .footer-left{
        text-align:left;
        padding-left: 5em;
    }

    footer{
        display: flex;
        justify-content: space-between;

        .footer-left{
            
            padding-bottom: 4em;
            padding-left: 15em;
        }
        .footer-right
        {
            padding-top: 7.5em;
            padding-right: 15em;
            img{
                height: 90px;
            }
        }
    }


}

@media only screen and (min-width: 1550px){

    .about-me{
        padding-left: 25em;
    }

    .portfolio-container
     {
        .subtitle 
        {
            font-family: "comfortaa";
            font-size: 1em;
            margin-bottom: -1em;
            
        }

        .featured-title
        {
            font-family: "nunito sans";
            font-size: 2.5em;
            margin-bottom: -.2em;
            
        }

        .featured-desc
        {
            
            font-size: .9em;
            margin-bottom: -.2em;
        
        }

        .featured-skills
        {
            font-family: "comfortaa";
            font-size: .7em;
            color: #87b0e2;
        
        }

        .portfolio-left{
            padding-left: 5em;
        }
    
    }

    .portfolio-container img{
        padding-left: 8em;
        

    }

    .fworks
    {
        color: #75e6da;
        font-family: "nunito sans";
        font-weight: bold;
        font-size: 3em;
        letter-spacing: .2em;
        
    }
    

}
